{% extends "base.html" %}
{% block body %}
    <div>
        <h2>Sportschool Menno Altijd Fit nu ook online!</h2>
        Wij maken gebruik van Google om u veilig in te kunnen laten loggen, heeft u nog geen google account maak er dan <a href="https://accounts.google.com/signup" target="_blank">hier</a> een aan.<br /> 
    </div>
    <div>
        <!--Links to the login handler-->
        <button type="button" onclick="location.href='login/google'">Probeer het uit!</button><br />
    </div>
{% endblock %}